@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: 222;

}

.navbar {
    padding: .8rem;

}

.nav-link {
    font-size: 1.3em !important;
}

.rounded {
    border-radius: 10px !important;
}

#loginwelcome {
    font-size: 30px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}


#logo {
    height: 30vh;
}

.container-fluid {
    font-family: 'Roboto Slab', serif;
}

.jumbotron-fluid {
    padding-bottom: 5rem;
}

.jumbotron {
    background-color: #FCB411;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.container {
    background-color: orange;
}

.padding {
    padding-top: 2rem;
}