#chicken {
    
    width:40vh;
    
    
    object-fit: cover;

}

div.card-img-bottom {
    width: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color:white;
    text-align:center;

}