#mainMenu {
    position: absolute;
    left: 35vw;
    bottom: 4vh;
    text-align:center;
    width: 30%;
}


#recipePicture {
    width: 320px;
    height:160px;

}
.pagePos {
    position: absolute;
    left: 35vw;
    bottom: 10vh;
    text-align:center;
    width: 30%;

}
/*#level {
    position:absolute;
    width: 20vw;
    height: 30vh;
    top: 70vh;
    left: 40vw;
    text-align:center;
}
*/

.center {
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color:white;
    text-align:center;

}

.titleFont {
    font-size: 7vh;
}
.subTitleFont {
    font-size: 4vh;
}
.bottomCenter {
    position: absolute;
    left: 43vw;
    bottom: 5vh;
    margin-bottom: 40;
    width: 14vw;
    color:white;
    text-align:center;
}
