@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: 222;

}

.navbar {
    padding: .8rem;

}

.nav-link {
    font-size: 1.3em !important;
}

#mainMenu {
    position: absolute;
    left: 35vw;
    bottom: 4vh;
    text-align: center;
    width: 30%;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}


#recipePicture {
    width: 50%;

}

.pagePos {
    position: absolute;
    left: 35vw;
    bottom: 10vh;
    text-align: center;
    width: 30%;

}

/*#level {
    position:absolute;
    width: 20vw;
    height: 30vh;
    top: 70vh;
    left: 40vw;
    text-align:center;
}
*/

.center {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;

}

.bottomCenter {
    position: absolute;
    left: 39vw;
    bottom: 5vh;
    margin-bottom: 40;
    width: 22vw;
    color: white;
    text-align: center;
}

input[type=range]::-webkit-slider-thumb {
    background: #f0ad4e;
}
input[type=range]::-moz-range-thumb {
    background:  #f0ad4e;
}
input[type=range]::-ms-thumb {
    background:  #f0ad4e;
}