#posTitle {
    width: 50vw;
    top: 3vh;
    margin: 0 auto;
}

#posDescription {
    width: 50vw;
    top: 8vh;
    margin: 0 auto;
}

#posIngredient {
    width: 50vw;
    top: 10vh;
    margin: 0 auto;
    text-align: center;
}

#posInstructions {
    width: 50vw;
    top: 3vh;
    margin: 0 auto;
}

#posTime {
    width: 50vw;
    top: 3vh;
    margin: 0 auto;
}

#posPhoto {
    width: 50vw;
    top: 3vh;
    margin: 0 auto;
    text-align: center;
}

#posUploaded {
    text-align: center;
}

#posPagination {
    position: absolute;
    left: 35vw;
    bottom: 7vh;
    text-align:center;
    width: 30%;
}

#posSubmit {
    text-align:center;
}

#posButton {
    text-align: center;
}


label {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.row {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: grey;
    color:white;
    text-align:center;
}
